name: ci-test

on: 
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  
  test:
      name: Test
      runs-on: ubuntu-latest

      services:
        postgres:
          image: postgres:12
          # Provide the password for postgres
          env:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: admin
            POSTGRES_DB: simple_bank
          ports:
            - 5432:5432

          options: 
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5
      steps:
        - name: Set up Go 1.x
          uses: actions/setup-go@v3
          with:
            go-version: ^1.18
          id: go

        - name: Check out code into the Go module director
          uses: actions/checkout@v3

        - name: Install golang-migrate
          run: | 
            curl -L https://github.com/golang-migrate/migrate/releases/download/v4.15.2/migrate.linux-amd64.tar.gz | tar xvz
            ls -ltr
            sudo mv migrate /usr/bin/
            which migrate

        - name: Run migrations
          run: make migrateup
        
        - name: Run sqlc
          run: make sqlc

        - name: Test
          run: make test

        - name: Get dependencies
          run: |
            go get -v -t -d ./...
            if [ -f Gopkg.toml ]; then
                curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
                dep ensure
            fi